.accordion {
    border: 0;
    box-shadow: none;
    &__title {
        border: 0;
        box-shadow: none;
        text-transform: capitalize;
    }
    &__submenu-list{
        padding: 0;
    }
    &__icon {
       text-align: center;
       display: block;
        min-width: 26px;
        font-size: 21px;
        color: $colorMenu;
    }
}