.basic {
    margin-bottom: 20px;
    margin-top: 15px;
    width: 90%;
    overflow: hidden;
    background-color: $white;
    padding: 15px;

    @include breakpoint-lg {
        width: 70%;
        padding: 25px;
        margin-bottom: 40px;
        margin-top: 30px;
    }

    @include breakpoint-xl {
        margin-top: 60px;
        width: 45%;
    }

    &__title {
        font-family: "Poppins", sans-serif;
        color: #181c32;
        font-weight: 600;
        font-size: rem(16);

        @include breakpoint-md {
            font-size: rem(18);
        }
    }
    &__box {
        border-radius: 30px 30px 0 0;
    }
    &__box-text {
        justify-content: space-between;
        padding: 0 0 30px;
        display: flex;
        @include breakpoint-lg { 
            padding: 0 0 60px;
        }
    }

    &__select {
        cursor: pointer;
        padding: 5px;
        height: 40px;
        outline: transparent;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        border-radius: 0.42rem;
        font-size: rem(13);
        text-transform: capitalize;
        color: $colorIconSelect;
        background-color: #e1f0ff;
        border-color: transparent;
        &:hover {
            color: $white;
            background-color: $colorIconSelect;
            border-color: transparent;
        }
    }
    &__option  {
        border-radius: 0.42rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        text-transform: capitalize;
        color: $colorIconSelect;
        background-color: $white;
        padding: 5px;
        cursor: pointer;
    }
}
