.card {
    width: 145px;
    height: auto;
    margin-top: 10px;
    @include breakpoint-lg {
        width: 218px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    @include breakpoint-xl {
        width: 170px;
    }

    &:last-child {
        margin-bottom: 0;
    }
    &__wrapper {
        height: 100%;
        padding: 10px;
    }
    &__image {
        height: 42px;
        @include breakpoint-xl {
            height: 32px;
        }
    }
    &__icon {
        padding-bottom: 10px;
        font-size: 35px;
        color: $white;
        @include breakpoint-xl {
            font-size: 30px;
        }
    }
    &__title {
        color: $white;
        font-family: "Poppins", sans-serif;
        font-size: rem(20);
        font-weight: 400;
        text-align: right;

        @include breakpoint-lg {
            font-size: rem(38);
        }

        @include breakpoint-xl {
            font-size: rem(25);
        }
    }
    &__subtitle {
        font-size: rem(13);
        text-align: right;
        font-family: "Poppins", sans-serif;
        display: block;
        line-height: 1.2;
        color: $white;
        padding-top: 20px;
        @include breakpoint-lg {
            font-size: rem(20);
            padding-top: 30px;
        }

        @include breakpoint-xl {
            font-size: rem(14);
            padding-top: 15px;
        }
    }
    &--verde {
        background-color: #009695;
    }
    &--azul {
        background-color: #0173bc;
    }
    &__number {
        font-family: "Poppins", sans-serif;
        color: #e8f297;
        display: block;
        line-height: 1;
        font-weight: 500;
        text-align: right;
        font-size: rem(60);
        @include breakpoint-lg {
            font-size: rem(80);
        }
        @include breakpoint-xl {
            font-size: rem(60);
        }
    }
}
