.graphic {
    border-radius: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
    width: 90%;
    overflow: hidden;

    @include breakpoint-lg {
        width: 65%;
    }

    @include breakpoint-xl {
        margin-top: 60px;
        width: 45%;
    }

    &__chart {
        @include breakpoint-lg {
            height: 125px;
        }
    }
    &__title {
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        color: $white;
        font-size: rem(18);
        margin-right: 10px;

        @include breakpoint-lg {
            font-size: rem(30);
        }
    }
    &__box {
        border-radius: 30px 30px 0 0;
        background-color: #ed1651;
    }
    &__box-text {
        justify-content: space-between;
        padding: 20px 20px 0 20px;
        display: flex;
    }

    &__select {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        width: 100px;
        padding: 8px;
        display: flex;
        border-radius: 10px;
        outline: transparent;
        height: 40px;
        font-size: rem(14);
        line-height: 1;
    }

    &__list {
        position: absolute;
        top: -50px;
        padding: 0 15px 0 15px;
        margin: 0;
        list-style: none;
        justify-content: space-between;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @include breakpoint-lg {  
            padding: 0 50px 0 50px;
        }
    }
    &__list-cards {
        border: 2px solid #e9c6d0;
        border-width: 0 2px 2px 2px;
        border-radius: 0px 0px 30px 30px;
        background-color: $white;
        position: relative;
        height: 200px;

        @include breakpoint-lg {  
            height: 210px;
        }

        @include breakpoint-xl {  
            height: 240px;
        }
    }
    &__card {
        width: 47%;
        border-radius: 15px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        padding: 10px;

        &--red {
            background-color: #fee6dc;
            color: #e37670;
        }
        &--green {
            background-color: #e4f1e7;
            color: #61bf91;
        }
        &--yellow {
            background-color: #fffbd6;
            color: #f7c466;
        }
        &--blue {
            background-color: #e1f3fd;
            color: #3f7ba0;
        }
    }
    &__description,
    &__number,
    &__price {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: rem(18);
        line-height: 1;
        @include breakpoint-lg { 
            font-size: rem(26);
        }
    }

    &__price {
        @include breakpoint-xl{
            margin: 18px 0;
            font-size: rem(30);
        }
    }
    &__number {
        font-size: rem(35);
        line-height: 1;
        text-align: right;
        @include breakpoint-lg {  
            font-size: rem(45); 
        }
    }
    &__description {
        text-transform: capitalize;
        margin-top: 30px;
        text-align: right;
        font-size: rem(12);
        @include breakpoint-lg { 
            margin-top: 25px;
            font-size: rem(14); 
        }
    }
}
