.itemMenu {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0 25px;
    height: 40px;

    &__title {
        color: $colorMenu;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        margin: 0;
    }
}