.section {
    width: 100%;
    height: 100%;
    background-color: #e6e8f0;
    padding: 35px 0;
    overflow-y: scroll;
    @include breakpoint-lg {
        padding: 70px 60px  0;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &:nth-child(2n) {
            margin-top: 40px;
        }
        @include breakpoint-lg {
            flex-wrap: wrap;
            align-items: initial;
            flex-direction: row;
        }
    }
}