.section {
    width: 100%;
    height: 100%;
    background-color: #e6e8f0;
    padding: 35px 0;
    @include breakpoint-lg {
        padding: 70px 60px  0;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &:nth-child(2n) {
            margin-top: 40px;
        }
        @include breakpoint-lg {
            flex-wrap: wrap;
            align-items: initial;
            flex-direction: row;
        }

        @include breakpoint-xl {
            max-width: 1200px;
            margin: 0 auto;
        }

        &--card {
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0 10px;
            max-width: 320px;
            margin: 0 auto;

            @include breakpoint-md { 
                padding: 0 20px;
                max-width: initial;
                margin: initial;
            }
            @include breakpoint-lg { 
                padding: 0;
                justify-content: initial;
            }
            @include breakpoint-xl { 
                max-width: 1200px;
                margin: 0 auto;
            }
        }

        &--collumn {
           @include breakpoint-lg {
               flex-direction: column;
           } 
           @include breakpoint-xl {
               flex-direction: row;
           }
        }
    }
}